.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
}

.main_card {
    font-family: 'Outfit', serif;
    background-color: hsl(0, 0%, 100%);
    margin: 12.5vh 40vw;
    padding: 0.125vh 0.125vw;
    border-radius: 5%;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 2.5px #999;
}

img {
    margin: 2.5vh 0;
    max-width: 17.5vw;
    border-radius: inherit;
}

.main_text {   
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.scan_text {
    font-weight: 400;
    color: hsl(216, 15%, 48%);
}

.main_text {
    text-align: center;
    margin: 1vh 2.5vw;
}

.scan_text {
    text-align: center;
    margin: 2.5vh 0vw;
}

@media ((min-width: 320px) and (max-width: 375px)) {
    .main_card {
        padding: 0.5vh 0.5vw;
        margin: 12.5vh 15vw;
    }

    img {
        max-width: 65vw;
    }

    .main_text {
        margin: 0 5vw;
    }
}

@media ((min-width: 375px) and (max-width: 425px)) {
    .main_card {
        padding: 0.5vh 0.5vw;
        margin: 7.5vh 15vw;
    }

    img {
        max-width: 65vw;
    }

    .main_text {
        margin: 0 10vw;
    }
}

@media ((min-width: 425px) and (max-width: 768px)) {
    .main_card {
        padding: 0.75vh 0.5vw;
        margin: 7.5vh 16vw;
    }

    img {
        max-width: 60vw;
    }

    .main_text {
        margin: 0 12.5vw;
    }

    .scan_text {
        margin: 2vh 1vw;
    }
}

@media ((min-width: 768px) and (max-width: 1024px)) {
    .main_card {
        padding: 0.75vh 0.5vw;
        margin: 7.5vh 35vw;
    }

    img {
        max-width: 25vw;
    }

    .main_text {
        margin: 0 2vw;
    }

    .scan_text {
        margin: 2vh 0;
    }
}